body {
  background: #242424;
}
    

  nav {
      background-color: #161616;
      background-blend-mode: multiply;
      position: relative;bottom:8px ;
      margin: 0px;
      padding: 1px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    li {
      margin: 0;
    }

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      
      

    }
    a:hover{
        text-transform: capitalize;
        color: rgb(99, 197, 0);
            background:linear-gradient(to bottom,#161616,#016111),#00f529;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
 

.css-icon-search {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  position: relative;
  border-radius: 100%;
  background-color: rgb(146, 146, 255);
  position: relative;top: 250px;left: 625px;
}

.css-icon-search::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -7px;
  bottom: -3px;
  background: #ffffff;
  width: 10px;
  height: 2px;
  transform: rotate(45deg);
  
}
p{
    text-align: center;
    position: relative;top: 250px;right: 7px;
    color: rgb(255, 255, 255);
    font: 1em arial;

    



}